img {
    width: 210px !important;
    height: 356px;
    
} 

Button {
    margin-top: 6%;
}

body {
    text-align: center;
}

.flex-container {
    text-align: center;
    display: flex;
    margin-top: 5%;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0 10%;
}

.card {
    margin: 15%;
    padding: 15%;
    padding-bottom: 5%;
}

.row {
    justify-content: space-around;
}